<center>
	<form action="/" method="post">
	<table style="background-image:url('/img/<%= @template %>.jpg')" width="500" height="275">
		<tr>
			<td>Organizer name : </td>
			<td><textarea name="owner" rows="1" cols="25" maxlength="25" required><%= @owner %></textarea></td>
	    </tr>
	    <tr>
	    	<td>Event name : </td>
	    	<td><textarea name="event" rows="1" cols="25" maxlength="25" required><%= @event %></textarea></td>
	    </tr>
	    <tr>
	    	<td>Place or adress : </td>
	    	<td><textarea name="place" rows="1" cols="25" maxlength="25" required><%= @place %></textarea></td>
	    </tr>
	    <tr>
	    	<td>Date and hour : </td>
	    	<td><textarea name="date" rows="1" cols="25" maxlength="25" required><%= @date %></textarea></td>
	    </tr>
	    <tr>
	    	<td>
    			<label>Chose theme</label>
    			<select name="template" id="select">
     				<%= @selectmaker %>
    			</select>
    		</td>
    	</tr>
    	<table>
	    	<tr>
	    		<td>
	    			<input type="submit" value="Edit">
				</td>
			</tr>
		</table>
	</table>
    </form>
</center>