<center>Save the url if you want to use this invitation again</center>
<center><a href="<%= @base_url %>"><%= @base_url %></a></center>
<hr>
<center>
<form action="/<%= @template %>/<%= @owner %>/<%= @event %>/<%= @place %>/<%= @date %>/sent" method="post">
	<table style="background-image:url('/img/<%= @template %>.jpg')" width="500" height="275">
		<tr>
			<td>
				<center>
		  		<h1 class="invit"><%= @owner %></h1>
		  		<h2 class="invit">invites you to</h2>
		  		<h1 class="invit"><%= @event %></h1>
		  		<h2 class="invit">The party will be in</h2>
		  		<h1 class="invit"><%= @place %></h1>
		  		<h1 class="invit"><%= @date %></h1>
		  		</center>
			</td>
		</tr>
	</table>

	<table>
		<tr>
			<td><center>Email : <textarea style="color: black; background-color: transparent;" name="email" rows="1" cols="25" maxlength="25" placeholder="eg: antonio@gmail.com" required></textarea></center></td>
		</tr>
		<tr>
			<td>
				<center><input type="submit" value="Send"></center>
			</td>
		</tr>
	</table>
</form>
</center>